:root{
    /*colours*/
    --color-text:#fff;
    --color-primary:#a93c88;
    --color-secondary:#470b37;
    --color-dark:#470b37;
    --color-bg:#2d0423;


    /*fonts*/
    --font-roboto:"Roboto";
    

}